<script type="text/template" id = 'quote-template'>
  <p><strong>Quote: </strong> <em><%%= sentence %></em><br> Season: <%%= season %> ; Episode <%%= ep %></p>
</script>




<h4>Index</h4>

<hr>

<fieldset>
  <button type="button" class='randoInspo'>RandoInspo</button>
  <button type="button" class='asdas'>Generic</button>
  <button type="button" class='asfads'>Stuff</button>
</fieldset>



<section id ='quote-list'>
  <!-- <button type="submit" id = 'random'>Click for Random Quote</button> -->
  <!-- backbone will fill this out -->
</section>
