<script type="text/template" id = 'quote-template'>
  <p class = "border"><strong>Quote: </strong> <em><%%= sentence %></em><br> Season: <%%= season %> ; Episode <%%= ep %></p>
</script>

<div class = 'row'>
  <p>Welcome to Love from Leslie you poetic, noble, land-mermaid. Leslie Knope is here to provide you motivational quotes for every aspect of your life. What do you need help with today? </p>
</div>

<div class = 'row'>
<fieldset>
  <button type="button" class='inspo'>Inspiration</button>
  <button type="button" class='obs'>Obstacles</button>
  <button type="button" class='gurl'>Girl Power</button>
  <button type="button" class='men'>Love</button>
  <button type="button" class='random'>EVERYTHING</button>
</fieldset>
</div>
<section id ='quote-list'>
  <!-- <button type="submit" id = 'random'>Click for Random Quote</button> -->
  <!-- backbone will fill this out -->
</section>
