<script type="text/template" id = 'quote-template'>
  <li><strong>Quote: </strong> <em><%%= quote %></em><br> Season: <%%= season %> ; Episode <%%= ep %></li>
</script>




<h4>Index</h4>

<hr>


<ul id ='quote-list'>
  <!-- backbone will fill this out -->
</ul>
