<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Love, Leslie Knope</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Bowlby+One|Oleo+Script+Swash+Caps:700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/style.css">


  </head>
  <body>

    <section class = 'container'>
      <div class = 'row'>
        <div class = 'four columns placeholder'>
          <img class='leslie' src = 'http://i.imgur.com/jqmwNaj.png'>
          BLAH
        </div>
        <div class = 'eight columns main'>
        <h1>Love, Leslie</h1>
        <h5>words of wisdom from your favorite bureaucrat</h5>
    </div></div>
    <!-- <div class = 'row'>
      <div class = 'two columns placeholder'>
        BLAH
      </div>
      <div class = '10 columns'> -->
        <%= yield %>
      <!-- </div>
    </div> -->
    </section>

</body>
</html>
